*{
    box-sizing: border-box;
}
body{
  width: 100%;
  margin:0;
  padding:0;
}
p{
  display:block;
  padding: 0 0;
  margin: 0 0;
}
a{
  color: #0070c9;
  text-decoration: none;
}
h1{
  font-size: 36.4px;
  font-weight: normal;
  text-align: center;
  padding: 30px 0 15px 0;
}
.clear{
  clear: left;
}
.sony{
  width: 100%;
  height: 36px;
  background-color: black;
  padding: 0 23px;
}
.sony img{
  margin: auto;
  float: right;
  padding-top: 12px;
  padding-bottom: 10px;
}
.header{
  width: 100%;
  height: 65px;
  padding: 0;
  margin: 0;
  display: block;
  background-color: #1f1f1f;
  color: white;
  font-size: 14px;
}
.header_psrogo{
  padding: 13px 23px 11px 23px;
  float: left;
}
.hover_blue:hover{
  background-color: #003791;
}
.hiraku{
  float: right;
  padding: 9px 0 0 6px;
}
.product_information{
  float: left;
  padding: 22px 10px 22px 10px;
}
.product_information p{
  float: left;
}
.header_gamesoft{
  float:left;
  padding: 22px 10px 22px 10px;
}
.header_gamesoft p{
    float:left;
}
.header_psn{
  float:left;
  padding: 22px 10px 22px 10px;
}
.header_psn p{
    float:left;
}
.header_news{
  float:left;
  padding: 22px 10px 22px 10px;
}
.header_news p{
    float:left;
}
.header_support{
  float:left;
  padding: 22px 10px 22px 10px;
}
.header_support p{
    float:left;
}
.header_purchase{
  float:left;
  padding: 22px 10px 22px 10px;
}
.header_purchase p{
    float:left;
}
.header_my_profile{
    float:left;
    padding: 0 0;
}
.my_icon{
  float:left;
  padding:14px 7px 0 10px;
}
.header_my_name{
  float:left;
  padding: 22px 10px 22px 0;
}
.header_my_name p{
  float:left;
}
.header_search{
  height: 32px;
  width: 250px;
  float: right;
  padding: 0 10px 0 10px;
  text-align: right;
  margin:15px 10px;
}
.header_search_word{
    background-color: rgb(48,48,48);
    padding:10px 0 10px 5px;
    border: rgb(238,238,238);
    float: left;
    font-size: 14px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: 0;
    color:white;
}
.header_search_icon{
  background-color: rgb(48,48,48);
  padding:10px;
  border: rgb(238,238,238);
  float: left;
  margin: auto;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.psnetwork{
  height:501.333;
}
.entertaiment{
  width: 100%;
  background-image: url(https://www.jp.playstation.com/content/dam/pscom/japan-asia/playstation-network/top/psn-top-article01-bg-20170201.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 70%;
  background-size: cover;
  padding:15px 54px;
}
.entertaiment_message{
  max-width: 930px;
  font-weight: 300px;
  display: block;
  font-size: 2.3em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align:center;
  margin: 80px auto;
}
.entertaiment_box{
  height:266px;
  width: 85%;
  margin: 20px auto;
}
.entertaiment_lefts{
  height: 236px;
  width: 370px;
  background-color: rgba(31, 31, 31, 0.8);
  padding:1em;
  float:right;
}
.entertaiment_lefts_message p{
font-weight: 400;
line-height: 1.5;
margin: 0;
padding: 0;
display: block;
font-size: 14px;
color: rgba(255, 255, 255, 1.0);
}
.entertaiment_acount{
  display: inline-block;
  height:48px;
  width: 200px;
  background-color: #0068bf;
  margin-top:20px;
}
.entertaiment_acount p{
  font-size: 14px;
  padding: 15px 15px 12px;
  text-align:center;
  color:white;
}
.entertaiment_acount:hover{
  background-color: #00a2ff;
  transition: all 0.3s;
}
.services_contents{
  width: 960px;
  margin: 0 auto;
}
.services_headline{
  font-size:16px;
  font-weight: 700;
  line-height: 24px;
}
.services_text{
  font-size: 14px;
  margin-top: 14px;
  line-height: 21px;
  font-weight: 400px;
}
.content_button{
  display: inline-block;
  width: 100%;
  text-align:center;
  padding:0;
}
.content_details{
  display: inline-block;
  height: 48px;
  width: 200px;
  background-color: #0068bf;
  margin: 30px auto;
}
.content_details p{
  font-size: 14px;
  padding: 15px 15px 12px 15px;
  text-align:center;
  color:white;
  margin: 0 auto;
}
.content_details:hover{
  background-color: #00a2ff;
  transition: all 0.3s;
}
.services{
  margin-bottom:60px;
}
.ps_store{
  width:33.3%;
  padding:0 15px;
  margin-top: 15px;
  float:left;
}
.ps_store img{
  width: 100%;
}
.ps_plus{
  width:33.3%;
  padding:0 15px;
  margin-top: 15px;
  float:left;
}
.ps_plus img{
  width: 100%;
}
.ps_now{
  width:33.3%;
  padding:0 15px;
  margin-top: 15px;
  float:left;
}
.ps_now img{
  width: 100%;
}
.ps_video{
  width:33.3%;
  padding:0 15px;
  margin-top: 15px;
  float:left;
}
.ps_video img{
  width: 100%;
}
.ps_music{
  width:33.3%;
  padding:0 15px;
  margin-top: 15px;
  float:left;
}
.ps_music img{
  width: 100%;
}
.ps_app{
  width:33.3%;
  padding:0 15px;
  margin-top: 15px;
  float:left;
}
.ps_app img{
  width: 100%;
}
.pay_info{
  height:378px;
  width: 960px;
  margin: 20px auto;
}
.pay_info img{
  height: 89%;
  float: left;
  margin:0 20px;
}
.pay_info_p{
  font-size: 15px;
}
.psn_comtact{
  width: 100%;
  height: 160px;
  background-color: rgba(238,238,238,1.0);
  padding:54px 100px;
  margin: 0 auto;
}
.psn_content_center{
  height: 51px;
  width: 960px;
  margin: 0 auto;
}
.psn_content_center p{
  font-size:14px;
  height: 21px;
  width: 210px;
  float: left;
  margin:20px 15px;
  color: #00a2ff;
  padding:0 15px;
}
.psn_content_center p:hover{
  color: #337ab7;
}
.psn_support{
  width: 100%;
  height: 249px;
  padding:14px 100px;
  background-color: rgba(0,55,145,1.0);
}
.support_center{
  height: 221px;
  width: 960px;
  margin: 0 auto;
}
.support_headline{
  font-size: 16px;
  font-weight:bold;
}
.support_text{
  font-size: 12px;
  font-weight: 400;
}
.psn_support a{
  color:white;
  width: 210px;
}
.psn_support a:hover{
  color: #00a2ff;
  transition: all 0.3s;
}
.support_product{
  height: 210px;
  width: 200px;
  float: left;
  margin: 20px 20px;
  color: white;
  padding:0 15px;
}
.support_service{
  height: 210px;
  width: 200px;
  float: left;
  margin: 20px 20px;
  color: white;
  padding:0 15px;
}
.support_news{
  height: 210px;
  width: 200px;
  float: left;
  margin: 20px 20px;
  color: white;
  padding:0 15px;
}
.support_support{
  height: 210px;
  width: 200px;
  float: left;
  margin: 20px 20px;
  color: white;
  padding:0 15px;
}
footer{
  width: 100%;
  height: 120px;
  background-image: url(https://www.jp.playstation.com/content/dam/pscom/ja-jp/footer/footer_glow.png);
  background-repeat: no-repeat;
  background-position: center 0;
  padding:16px 0;
  background-color: #003791;
}
.footer_center{
  display: inline-block;
  list-style: none;
  list-style-position: outside;
  width: 100%;
  margin: 0 auto;
  text-align:center;
}
.psc-cell-footer{
  padding: 4px 8px;
  text-align: center;
  display: inline-block;
  letter-spacing: normal;
  padding: 4px 8px;
  background: url(https://www.jp.playstation.com/content/dam/pscom/ja-jp/footer/footer_line.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  color: white;
  position: relative;
}
.footer_center a{
  font-size: 12px;
  font-weight: 400;
  color: white;
}
.psc-icon-blank{
  background: url(https://www.jp.playstation.com/content/dam/pscom/ja-jp/footer/icon_blank.png);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 12px 12px;
  padding-right: 24px;
}
.footer_copyright{
  font-size:12px;
  color: #00a2ff;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  padding:8px 42px 0 42px;
}
.footer_global{
  background: url(https://www.jp.playstation.com/content/dam/pscom/ja-jp/icon/icon_global.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 16px 16px;
  display: inline-block;
  padding: 2.5px 0 0 24px;
  vertical-align: middle;
  line-height: 1.6;
  color:white;
  font-size: 12px;
  text-align:center;
}
.footer_world{
text-align: center;
padding:5px 0;
}
